/*
 *  Bri D'Urso -- CS275: Assignment 4
 *
 *  12-7-22
 */

.modal-overlay-panel {
  position: fixed;
  display: grid;
  color: rgba(40, 27, 70, .5);
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
}
