/*
 *  Bri D'Urso -- CS275: Assignment 4
 *
 *  12-7-22
 */

#hidden {
  display: none;
}

.modal-overlay-panel {
  position: fixed;
  background-color: rgba(21, 18, 29, 0.829);
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  z-index: 2;
}

.modal-content-pane {
  position: relative;
  background-color: aliceblue;
  left: 20vw;
  top: 20vh;
  width: 60vw;
  height: 60vh;
  z-index: 3;
}
